body {
  background-color: #41B3A3;
}

#text {
  font-size: 50px;
  color: orange;
  display: flex;
  font-family: sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
}

.res_text {
  color: #E27D60;
  margin: 10px;
}

.slider {
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}